:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(194, 194, 194, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

@font-face {
  font-family: "Gilroy light";
  src: url(assets/fontes/Gilroy-Light.ttf);
}

@font-face {
  font-family: "Gilroy regular";
  src: url(assets/fontes/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy semibold";
  src: url(assets/fontes/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Roboto semibold";
  src: url(assets/fontes/Roboto-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins semibold";
  src: url(assets/fontes/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(assets/fontes/Poppins-Regular.ttf);
}


@font-face {
  font-family: "Roboto regular";
  src: url(assets/fontes/Roboto-Regular.ttf);
}



body {
  margin: 0 0 0 0 ;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f2f5fa;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
